@if (errors.length > 0) {
  <mat-card appearance="outlined">
    <div id="close-button-container">
      <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <mat-card-header>
      <mat-card-title>Errores en servidor</mat-card-title>
      <mat-card-subtitle>Se detectaron errores en los siguientes campos</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ul>
        @for (error of errors; track $index) {
          <li>{{ error }}</li>
        }
      </ul>
    </mat-card-content>
  </mat-card>
}
