<h2>Actores</h2>
<button mat-flat-button routerLink="/actores/crear">Crear nuevo</button>

<app-generic-list [list]="actors">
  <ng-container content>
    <table mat-table [dataSource]="actors" class="mat-elevation-z8 index-table">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>N°</th>
        <td mat-cell *matCellDef="let index = index"> {{(index + 1) + (pagination.page - 1) * pagination.rowsPerPage}} </td>
      </ng-container>

      <mat-text-column name="name" headerText="Nombre"></mat-text-column>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let actor" class="buttons-container-cell">
          <div>
            <a mat-flat-button routerLink="editar/{{actor.id}}">Editar</a>
            <button mat-flat-button color="warn"
              (confirm)="deleteRow(actor.id)"
              [swal]="swalConfigs"
              >
              Eliminar
            </button>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>

    <mat-paginator
      class="mat-elevation-z8"
      (page)="updateTable($event)"
      [length]="totalRecords"
      [pageIndex]="pagination.page - 1"
      [pageSize]="pagination.rowsPerPage"
      [pageSizeOptions]="[5, 10, 25, 50]"
      showFirstLastButtons>
    </mat-paginator>
  </ng-container>
</app-generic-list>
