.movies-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;
}

.movie-container {
  text-align: center;
}

p {
  max-width: 225px;
  font-size: 15px;
  font-weight: bold;
}

button {
  margin-inline: 0.50rem;
}
