<app-generic-list [list]="movies">
  <ng-container content>
    <div class="movies-container">
      @for (movie of movies; track $index) {
        <div class="movie-container">
          <a [routerLink]="['/peliculas/', movie.id]">
            <img [ngSrc]="movie.image || 'default.jpg'" [priority]="$index === 0" width="169" height="250">
          </a>
          <a [routerLink]="['/peliculas/', movie.id]">
            <p class="title">{{ movie.title }}</p>
          </a>
          <app-authorized role="admin">
            <ng-container Authorized>
              <div class="buttons-container">
                <a mat-flat-button [routerLink]="['/peliculas/editar/', movie.id]">Editar</a>
                <button mat-flat-button color="warn"
                  [swal]="swalConfigs"
                  (confirm)="delete(movie.id)">
                  Borrar
                </button>
              </div>
            </ng-container>
          </app-authorized>
        </div>
      }
    </div>
  </ng-container>
</app-generic-list>
