<mat-toolbar>
  <span>
    <a mat-button routerLink="">
      <mat-icon>local_movies</mat-icon> Angular Películas
    </a>
  </span>

  <div>
    <a mat-button routerLink="peliculas/filtrar">
      <mat-icon>search</mat-icon>Buscar Películas</a>
  </div>
  <div>
    <a mat-button routerLink="generos">Géneros</a>
  </div>
  <div>
    <a mat-button routerLink="actores">Actores</a>
  </div>
  <div>
    <a mat-button routerLink="cines">Cines</a>
  </div>
  <div>
    <a mat-button routerLink="peliculas/crear">Crear Película</a>
  </div>

  <div class="space"></div>

  <app-authorized>
    <ng-container Authorized>
        <span>Hola, {{getJWTField('email')}}</span>
        <a mat-button (click)="logout()">Cerrar Sesión</a>
    </ng-container>

    <ng-container notAuthorized>
      <a mat-button routerLink="login">Login</a>
      <a mat-button routerLink="registrar">Registro</a>
    </ng-container>
  </app-authorized>
</mat-toolbar>